html, body {
	height: 100%;
	width: 100%;
	font-family: verdana;
}
body{
	background: url(../image/letra.jpg) no-repeat;
	background-size: 100%;
	background-size: cover;
}

.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*-------contenido-----*/
.content{
	background-color: rgba(42,42,42,0.90);
	padding: 2% 5%;
	text-align: center;
	color: white;
}